*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgba(132, 182, 119, 0.678);
}

p{
    padding: 0 16px;
}

header {
    background-color: white;
    position: sticky;
    top: 0px;
}

.header__logo{
    display: inline;
    width: 100px;
}

.header__lista{
    display: inline;
    margin: 16px;
    list-style: none;
}

.header__opciones{
    padding: 50px;
    display: inline;
    text-decoration: none;
    color: #000;
    transition: .3s;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Inconsolata', monospace;
}

.header__opciones a {
    color: black;
    text-decoration: solid;
}

.portada {
    text-align: center;
    padding: 50px;
    border: 1px solid grey;
}

.portada__titulo {
    color: rgb(236, 116, 18);
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 16px;
}

.portada__imagen {
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
}


.comidas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'desayuno almuerzo almuerzo cena'
                         'desayuno merienda merienda cena';
    background-color: rgb(81, 0, 255);
    gap: 5px;
    padding: 5px;
}

.desayuno {
    grid-area: desayuno;
}

.almuerzo {
    grid-area: almuerzo;
}

.merienda {
    grid-area: merienda;
}

.cena {
    grid-area: cena;
}

.comidas__titulo h2 {
    text-align: center;
    color: rgb(18, 156, 236);
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.comidas__imagen {
    background-color: #ffff;
    border-radius: 3px;
    height: 100%;
}

.comidas__imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
    filter: grayscale(100%);
}

.comidas__imagen img:hover{
    filter: grayscale(0);
    clip-path: polygon(30% 0%, 70% 0%, 92% 9%, 100% 57%, 70% 100%, 12% 95%, 0% 70%, 8% 26%);
}

.tips {
    padding: 50px;
    border: 1px solid grey;
}

.tips__titulo {
    text-align: center;
    padding: 15px;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.video {
    align-items: center;
    padding: 50px;
}

span {
    background-color: aquamarine;
}

.img-small {
    width: 300px;
    height: 500px;
}
.footer__redes {
    width: 25px;
    height: 25px;
}


/* RECOMENDACIONES */
.contenedor{
    display: flex;/*  */
    justify-content: center;/* alineacion bcentral de las tarjetas */
    flex-wrap: wrap;/* cuando los elementos chocan, se van acomodando para abajo */
}

h1{
    width: 100%;
    text-align: center;
    margin-bottom: auto;
}

.tarjeta{
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 1px solid grey;
}
.tarjeta__imagen {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.tarjeta__info {
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
}

button{
    background-color: rgb(233, 131, 187);
    padding: 15px;
}



/* GALERIA */
.galeria {
    width: 200px;
    display: flex;
    flex-grow: 0;
    
}

.galeria__imagen {
    width: 300px;
    justify-content: center;
    padding: 20px;
}

.galeria__imagen hover {
    height: 300px;
    flex-grow: 5;
}

.recetas__grid{
    display: grid;
    width: 50%;
    height: 50%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"partida rellena ensalada"
                        "partida avocado ensalada"
                        "connueces frutas palta";
    column-gap: 15px;
}

.partida{
    grid-area: partida;
    background-image: url(../resources/paltapartida.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* media querie de CELULAR */
@media (min-width: 320px) and (max-width: 757px) {

}

/* media querie de tablet */
@media (min-width: 576px) and (max-width: 992px){

}

