
/* GALERIA */
.galeria {
    width: 200px;
    display: flex;
    flex-grow: 0;

    &__imagen {
        width: 300px;
        justify-content: center;
        padding: 20px;

        &:hover {
            height: 300px;
            flex-grow: 5;
        }
    }  
}