/* .modulo {
    padding: 50px;
}

@mixin modulo-lista {
    width: 10%;
    height: 10%;
}

.modulo-lista1 {
    @include modulo-lista
}

.modulo-lista2 {
    @include modulo-lista
}

.modulo-lista3 {
    @include modulo-lista
}

.modulo-lista4 {
    @include modulo-lista
} */